.box *::selection {
    background-color: #231f20;
}

.box {
    height: auto;
    min-height: 64px;
    
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;

    background-color: #bb4430;    
    gap: 0.24rem;
}

.box p {
    margin: 0;
    opacity: 0.8;
}