.header {
    --debug: 1px solid hotpink;
    isolation: isolate;
    background: var(--clr-red);
    position: fixed;
    width: 100%;
    z-index: 2;

    height: 64px;
    display: flex;
    align-items: center;
}

.header h1 {
    margin-left: 2rem;
    color: var(--clr-white);
}

.header nav {
    transform: scale(1, 0);
    transform-origin: top;

    width: 100%;

    position: absolute;
    top: 100%;
    left: 0;

    background: var(--clr-red);
    transition: transform 150ms 50ms;
}

.header nav ul {
    list-style: none;

    margin: 0;
    padding: 0;
}

.header nav li {
    margin-right: 2rem;
    margin-bottom: 1em;
    text-align: right;

    opacity: 0;
    transition: opacity 150ms;
}

.header nav a {
    color: var(--clr-white);
    text-decoration: none;
    text-transform: uppercase;
}

.header input {
    display: none;
}

.header input:checked ~ nav {
    transform: scale(1, 1);

    transition: transform 150ms ease-in-out;
}

.header input:checked ~ nav li {
    opacity: 1;
    transition: opacity 150ms 150ms;
}

.header label {
    height: 100%;
    display: flex;
    align-items: center;

    position: absolute;
    top: 0;
    right: 0;
    margin-right: 2rem;

    color: var(--clr-white);
    font-size: 2rem;

    cursor: pointer;
}

@media (min-width: 860px) {
    .header label {
        display: none;
    }

    .header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .header h1 {
        grid-column: 2 / 3;
    }

    .header nav {
        all: unset;

        transform: scale(1, 1);

        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .header ul {
        display: flex;
    }

    .header nav li {
        all: revert;
        margin-right: 2rem;
        margin-bottom: 0;
    }

    .header nav a {
        position: relative;
    }

    .header nav a::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;

        width: 100%;
        height: 2px;

        background-color: var(--clr-white);
        transform: scale(0, 1);
        transition: transform 250ms ease-in-out;
    }

    .header a:hover::after {
        transform: scale(1, 1);
    }
}
