@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-block: 0; /* Set top and bottom margin for text elements to 0 */
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-family: Rubik;
    background: var(--clr-black);
}

#__next {
    width: 100%;
    height: 100%;
}

:root {
    --hsl-red: 9, 59%, 46%;
    --clr-red: hsl(var(--hsl-red));

    --hsl-black: 345, 6%, 13%;
    --clr-black: hsl(var(--hsl-black));

    --hsl-white: 138, 33%, 94%;
    --clr-white: hsl(var(--hsl-white));
}
