@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 

::selection {
    background-color: #bb4430;
}

html, body {
    height: 100%;
    margin: 0;
    text-align: justify;
}

#__next {
    height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
    background-color: #231f20;
    color: #ebf5ee;
    font-family: Rubik;
}

.p5Canvas {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}