@keyframes blinkCursor {
	0% {
        color:transparent;
    }
	50% {
        color:#ebf5ee;
	}
	100% {
        color:transparent;
	}
}

.blink {
    animation: blinkCursor 2.5s ease-in-out infinite;
    position: relative;
    font-size: 72px;
    font-weight: 200;
    opacity: 1;
}

.highlight {
        font-weight: 600;
        /* color: #28965a; */
        color: #bb4430;
}

.highlight::selection {
        color: #ebf5ee;
}

.blur {
        backdrop-filter: blur(16px);
        /* background-color: rgba(35, 31, 32, 0.4); */
}